<div class="row">
  <div class="col">
    <p>
    <%= link "Add a 🍐", to: image_path(@conn, :new), class: "btn btn-outline-primary" %>
    </p>
  </div>
</div>

<div class="card-group">
  <%= Enum.map Enum.chunk_every(@images, 4), fn(row) -> %>
    <div class="row">
      <%= for image <- row do %>
        <div class="col-3">
          <div class="card">
            <%= display_image(@conn, image, class: "card-img") %>
            <div class="card-img-overlay">
              <p class="card-text"><%= link {:safe, "&times;"}, to: image_path(@conn, :delete, image), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
