<h2>Show Image</h2>

<ul>

  <li>
    <strong>Binary data:</strong>
    <%= @image.binary_data %>
  </li>

  <li>
    <strong>Binary type:</strong>
    <%= @image.binary_type %>
  </li>

</ul>

<span><%= link "Edit", to: image_path(@conn, :edit, @image) %></span>
<span><%= link "Back", to: image_path(@conn, :index) %></span>
